body {
    background-color: #161414;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-and-name {
    background-color: #555555;
    border-radius: 30px;
    padding: 32px 32px 0px 32px;
    width: 100%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-and-name>p {
    font-size: 25px;
    color: white;
}

.repos-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.repos-container>div {
    background-color: #555555;
    width: 100%;
    min-width: 500px;
    height: 50px;
    margin-bottom: 16px;
    padding: 8px 32px;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
}

.repos-container>div>a {
    font-size: 25px;
    color: white;
}

.repos-container>div>p {
    font-size: 25px;
    color: white;
}